.pdf-page{
    position: absolute;
    z-index: -1;
    transform: translateX(4000px);
    top: 0;
    background-color: white;
    height: 1500px;
    width: 850px;
}

.pdf-page > table{
    direction: rtl;
    width: 60%;
    position: relative;
    margin: auto;
    padding-top: 20px;
    border-collapse: collapse; 
}

.pdf-logo{
    margin-bottom: 20px;
}

.pdf-page > table > tr{
    border: 0;
    border-bottom: 1px solid #f5f5f5;
}

.bold-txt-pdf{
    font-size: 20px;
}

.img-item{
    width: 10%;
}

.pdf-item-details{
    display: flex;
    flex-direction: column;
    width: 90%;
    direction: rtl;
    text-align: right;
    font-size: 20px;
}

.img-pdf{
    width: 170px;
}

.pdf-best-goes-items{
    display: flex;
}

.pdf-item{
    content: "";
    width: 50px;
    margin: 10px;
    height: 50px;
    background-color: rgb(151, 179, 151);
}