/*Mobile design*/

.mobile .cart > header {
  background-color: #ffdb00;
  height: 10%;
  position: sticky;
}

.mobile .cart {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: SlideUp 1s both;
}

.mobile .cart > main {
  height: 80%;
  background-color: white;
  max-height: 80%;
  overflow: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.mobile .close-cart-icon {
  position: absolute;
  top: 5vw;
  right: 5vw;
}

.mobile .empty-cart {
  position: relative;
  height: 100%;
  margin-top: 10vw;
}

.mobile .header-title {
  font-size: 5vw;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

.mobile .cart > .ikea-logo {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 20vw;
  z-index: 999;
}

.mobile .cart-item {
  display: flex;
  align-items: flex-start;
  direction: rtl;
  height: 65vw;
  position: relative;
}

.mobile .toxins-on-item {
  position: relative;
  top: 5vw;
  right: -2vw;
}

.mobile .bold-txt {
  position: relative;
  top: 14vw;
  font-size: 4vw;
  font-weight: bolder;
}

.mobile .best-goes-items {
  display: flex;
  top: 15vw;
  position: relative;
}

.mobile .best-goes-items > .item {
  content: "";
  background-color: #ffded6;
  margin-left: 4vw;
  height: 13vw;
  width: 12vw;
}

.mobile .size-item {
  position: relative;
  top: 10vw;
  font-size: 4vw;
}

.mobile .code-item {
  position: relative;
  top: 12vw;
  font-size: 4vw;
}

.mobile .App {
  font-family: sans-serif;
  text-align: center;
}
.mobile .cart-item::after {
  content: "";
  background-color: #ececec;
  width: 90%;
  height: 0.3vw;
  right: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 3vw;
  transform: translateX(50%);
}

.mobile .trash-icon:hover {
  cursor: pointer;
}

.mobile .right-area-on-item {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  text-align: right;
}

.mobile .left-area-on-item {
  display: flex;
  top: 2vw;
  position: relative;
}
.mobile .cart > footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  z-index: 999;
  display: flex;
  width: 100vw;
}

.mobile .download-btn {
  background-color: #0057a3;
  border: 0;
  height: 100%;
  width: 70%;
  color: white;
  font-size: 5.5vw;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .trash-icon {
  margin: 0 2vw 0 2vw;
}
.mobile .share-btn {
  background-color: black;
  color: white;
  font-size: 5.5vw;
  width: 30%;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .price {
  position: absolute;
  top: 2vw;
  left: 8vw;
}

.mobile .amount {
  position: absolute;
  left: 7vw;
  top: 30vw;
  color: #0058a3;
  border: 1px solid #0058a3;
  font-weight: bold;
  line-height: 6vw;
  width: 9vw;
  text-align: center;
}

.mobile .share-icon {
  width: 5vw;
  margin-right: 3vw;
}

.mobile .dowloand-icon {
  width: 5vw;
  margin-right: 3vw;
}

.mobile .plant-img-on-cart {
  position: relative;
  top: 1vw;
  width: 19vw;
  height: 32vw;
  background-size: cover;
  background-position-x: -3vw;
}

@keyframes SlideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*Desktop design*/
.cart {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 9;
  background-color: white;
  overflow: hidden;
}

header,
main,
footer {
  z-index: 2;
}

header {
  background-color: #ffdb00;
  height: 6.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  font-size: 1.2vw;
}

footer {
  background-color: white;
  width: 60vw;
  border: 0;
  position: fixed;
  bottom: 0;
  right: 50%;
  height: 5.5vw;
  transform: translateX(50%);
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn {
  width: 13vw;
  border: 2px solid #0057a3;
  color: #0057a3;
  font-size: 1.2vw;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
}

.share-btn {
  width: 10vw;
  border: none;
  color: #0057a3;
  font-size: 1.2vw;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
}

.share-btn:hover,
.download-btn:hover {
  cursor: pointer;
}

.share-icon,
.dowloand-icon {
  width: 1vw;
  margin-right: 0.5vw;
}

.close-cart-icon {
  width: 1.4vw;
  position: absolute;
  right: 5vw;
}

.close-cart-icon:hover {
  cursor: pointer;
}

main {
  overflow: auto;
  max-height: 34.8vw;
  margin-top: 8.5vw;
}

.cart-item {
  height: 13vw;
  position: relative;
  margin-bottom: 3vw;
  width: 60vw;
  left: 20vw;
  overflow: auto !important;
  border: 0;
  border-bottom: 2px solid gainsboro;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.left-area-on-item {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.right-area-on-item {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.plant-img-on-cart {
  content: "";
  height: 13vw;
  width: 10vw;
  background-position: bottom;
  background-size: cover;
}

.trash-icon{
  width: 1.3vw;
}


.trash-icon:hover{
  cursor: pointer;
}