.toxins {
  display: flex;
}

.toxin-name {
  z-index: 9;
  position: absolute;
  left: 50%;
  top: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.3vw;
  font-weight: 600;
  letter-spacing: 0.3vw;
}

.toxin:before, .toxin:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 4.6vw;
  height: 4.5vw;
  transform: scaleY(0.5774) rotate(
-45deg
);
  background-color: inherit;
  left: 0.9vw;
}

.toxin:before {
  top: -2.5vw;
  border-top: solid 2px #000000;
  border-right: solid 2px #000000;
  right: 0.9vw;
}

.toxin:after {
  bottom: -2.8vw;
  border-bottom: solid 2px #000000;
  border-left: solid 2px #000000;
}

.toxin {
  position: relative;
  width: 6.8vw;
  margin-right: 1.5vw;
  height: 4vw;
  background-color: #ffffff;
  color: black;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
  font-family: "Nato Sans Regular";
}

.toxin.active {
  position: relative;
  width: 7.3vw;
  height: 4vw;
  margin-right: 1vw;
  background-color: #000000;
  border: 0;
  color: white;
  border-right: 2px solid;
  border-left: 2px solid;
}

.toxin.active:before,
.toxin.active:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 3.5vw solid transparent;
  right: 0;
  border-right: 3.5vw solid transparent;
  height: unset;
  transform: unset;
  background-color: unset;
  left: unset;
}

.toxin.active:before {
  bottom: 100%;
  border-bottom: 2vw solid #000000;
  border-top: unset;
  top: unset;
}

.toxin.active:after {
  top: 100%;
  width: 0;
  border-top: 2vw solid #000000;
  border-bottom: unset;
}
