.list {
  position: relative;
  top: 0;
  background-color: white;
  height: 100%;
  width: 100%;
}

.list > table {
  direction: rtl;
  width: 53%;
  margin: auto;
  position: relative;
  top: 8vw;
  border-collapse: collapse;
}

.list-logo {
  margin-bottom: 2vw;
  position: absolute;
  width: 7vw;
  left: 4vw;
  top: 1vw;
}

.list > table > tr {
  border: 0;
  border-bottom: 1px solid #f5f5f5;
}

.bold-txt-list {
  font-size: 1vw;
}

.img-item {
  width: 10vw;
  height: 11vw;
}

.list-item-details {
  display: flex;
  flex-direction: column;
  width: 26vw;
  direction: rtl;
  text-align: right;
  font-size: 1.2vw;
  height: 11vw;
}

.img-list {
  width: 10vw;
}

.list-best-goes-items {
  display: flex;
}

.list-item {
  content: "";
  width: 4vw;
  margin: 10px;
  height: 6vw;
  background-color: rgb(151, 179, 151);
}

.list-header {
  position: absolute;
  top: 0%;
  height: 6vw;
  width: 100%;
  background-color: #ffdb00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
}

.toxins-list {
  position: relative;
  top: 1vw;
}

.list-title {
  font-size: 1.3vw;
}

.list-code-item {
  font-size: 1.4vw;
  position: relative;
  top: 2vw;
}

.best-goes-td-list {
  text-align: initial;
  font-size: 1.3vw;
  height: 11vw;
  width: 40%;
  display: table-cell !important;
}

.mobile .list-header {
  position: absolute;
  top: 0%;
  height: 17vw;
  width: 100%;
  background-color: #ffdb00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.4vw;
}

.mobile .list-logo {
  margin-bottom: 2vw;
  position: absolute;
  width: 15vw;
  left: 4vw;
  top: 5vw;
}

.mobile .list > table {
  direction: rtl;
  width: 100%;
  margin: auto;
  position: relative;
  top: 22vw;
  border-collapse: collapse;
}

.mobile .layout .list-best-goes-items {
  display: flex;
}

.mobile .img-list {
  width: 38vw;
}

.mobile .list-item-details {
  display: flex;
  flex-direction: column;
  width: 40vw;
  direction: rtl;
  text-align: right;
  font-size: 6.2vw;
  height: 11vw;
}

.mobile .list-code-item {
  font-size: 4.4vw;
  position: relative;
  top: 2vw;
}

.mobile .bold-txt-list {
  font-size: 4vw;
  top: 3vw;
  position: relative;
}

.mobile .list-title {
  font-size: 4.3vw;
}

.mobile .list-item {
    content: "";
    top: 1vw;
    width: 11vw;
    margin: 10px;
    height: 17vw;
    background-color: rgb(151, 179, 151);
    position: relative;
}

.mobile .list-item-details {
    display: flex;
    flex-direction: column;
    width: 40vw;
    direction: rtl;
    text-align: right;
    font-size: 6.2vw;
    height: 55vw;
}
