.output {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
}

.plants{
  width: 100%;
  position: relative;
}

.next-btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.pre-btn{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}



.current-plant {
  position: relative;
  height: 100%;
  left: 0;
}

.top-plant-area {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
  background-color: #ffdb00;
}



.add-to-list-btn {
  background-color: #0058a3;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 40%;
  z-index: 2;
  left: 0;
  border: 0;
  font-size: 6vw;
  height: 17vw;
  outline: none;
}

.on-list-btn {
  background-color: #16A300;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 40%;
  border: none;
  z-index: 2;
  left: 0;
  font-size: 6vw;
  height: 17vw;
  outline: none;
}

.bottom-plant-area {
  position: absolute;
  bottom: 0;
  width: 92%;
  right: 50%;
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  transform: translateX(50%);
}
.plant-title {
  font-weight: 600;
  margin-top: 7vw;
  margin-bottom: 3vw;
  font-size: 6.5vw;
}

.toxins-area{
  display: flex;
}

.back-to-survey-btn {
  position: relative;
  width: 93%;
  border: 2px solid #0058a3;
  color: #0058a3;
  background-color: transparent;
  height: 15vw;
  font-weight: 700;
  font-size: 6vw;
  right: 50%;
  outline: none;
  top: 5vw;
  transform: translateX(50%);
}

.plant-info {
  text-align: right;
  margin-top: 5vw;
  font-size: 4vw;
}

.next-plant{
  display: none;
  position: relative;
  height: 100%;
  bottom: 100%;
}

.toxins-area > span{
  font-size: 4.5vw;
}

.plants-navigation{
  position: absolute;
  z-index: 1;
  bottom: 52%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant-dot{
  content: "";
  background-color: #FFFFFF;
  height: 2vw;
  width: 2vw;
  margin: 2vw;
  border-radius: 50%;
  position: relative;
}

.plant-dot.active{
  width: 3.5vw;
  height: 3.5vw;
  position: relative;

}

.current-plant.slide-right{
  animation: CurrentSlideRight 1s both;
}

.next-plant.slide-right{
  animation: NextSlideRight 1s both;
  display: block;
}

.current-plant.slide-left{
  animation: CurrentSlideLeft 1s both;
}

.next-plant.slide-left{
  animation: NextSlideLeft 1s both;
  display: block;
}

@keyframes CurrentSlideRight {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0);
  }
}
@-webkit-keyframes CurrentSlideRight {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes NextSlideRight {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100vw);
  }
}

@-webkit-keyframes NextSlideRight {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100vw);
  }
}

@keyframes CurrentSlideLeft {
  0%{
    transform: translateX(100vw);
  }
  100%{
    transform: translateX(0);
  }
}
@-webkit-keyframes CurrentSlideLeft {
  0%{
    transform: translateX(100vw);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes NextSlideLeft {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100vw);
  }
}

@-webkit-keyframes NextSlideLeft {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100vw);
  }
}