/*Mobile design*/

.mobile .output {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
}

.mobile .plants {
  width: 100%;
  position: relative;
}

.mobile .next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.mobile .pre-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.mobile .current-plant {
  position: relative;
  height: 100%;
  left: 0;
}

.mobile .top-plant-area {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
  background-color: #ffdb00;
}

.mobile .plant-img {
  position: absolute;
  top: 43%;
  width: auto;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  background-color: transparent;
  border: 0;
  outline: none;
  height: 78vw;
}

.mobile .back-to-survey-btn:disabled {
  border: 2px solid #0058a370;
  color: #0058a370;
}

.mobile .add-to-list-btn {
  background-color: #0058a3;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 40%;
  z-index: 2;
  left: 0;
  border: 0;
  font-size: 6vw;
  height: 17vw;
  outline: none;
}

.mobile .on-list-btn {
  background-color: #16a300;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 40%;
  border: none;
  z-index: 2;
  left: 0;
  font-size: 6vw;
  height: 17vw;
  outline: none;
}

.mobile .bottom-plant-area {
  position: absolute;
  bottom: 0;
  width: 92%;
  right: 50%;
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  transform: translateX(50%);
}

.mobile .plant-title {
  font-weight: 600;
  margin-top: 7vw;
  margin-bottom: 3vw;
  font-size: 6.5vw;
}

.mobile .toxins-area {
  display: flex;
  align-items: center;
}

.mobile .back-to-survey-btn {
  position: relative;
  width: 93%;
  border: 2px solid #0058a3;
  color: #0058a3;
  background-color: transparent;
  height: 15vw;
  font-weight: 700;
  font-size: 6vw;
  right: 50%;
  outline: none;
  top: 5vw;
  transform: translateX(50%);
}

.mobile .plant-info {
  text-align: right;
  margin-top: 5vw;
  font-size: 4vw;
}

.mobile .next-plant {
  display: none;
  position: relative;
  height: 100%;
  bottom: 100%;
}

.mobile .toxins-area > span {
  font-size: 4.5vw;
}

.mobile .plants-navigation {
  position: absolute;
  z-index: 1;
  bottom: 52%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .plant-dot {
  content: "";
  background-color: #ffffff;
  height: 2vw;
  width: 2vw;
  margin: 2vw;
  border-radius: 50%;
  position: relative;
}

.mobile .plant-dot.active {
  width: 3.5vw;
  height: 3.5vw;
  position: relative;
}

.mobile .current-plant.slide-right {
  animation: CurrentSlideRight 1s both;
}

.mobile .next-plant.slide-right {
  animation: NextSlideRight 1s both;
  display: block;
}

.mobile .current-plant.slide-left {
  animation: CurrentSlideLeft 1s both;
}

.mobile .next-plant.slide-left {
  animation: NextSlideLeft 1s both;
  display: block;
}

@keyframes CurrentSlideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes CurrentSlideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes NextSlideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@-webkit-keyframes NextSlideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes CurrentSlideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes CurrentSlideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes NextSlideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@-webkit-keyframes NextSlideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

/*Desktop design*/

.output {
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
}
.plants {
  width: 100%;
  position: absolute;
  height: 100%;
}

.current-plant {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
}

.next-plant {
  display: none;
}

.top-plant-area {
  position: absolute;
  width: 60vw;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  background-color: #ffdb00;
}

.bottom-plant-area {
  position: absolute;
  width: 28vw;
  right: 0;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: rtl;
  height: 100%;
  align-items: flex-start;
  font-size: 1.2vw;
  text-align: right;
}

.plant-title {
  font-weight: bold;
  font-size: 1.4vw;
}

.toxins-area.only-desktop {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 1.5vw;
}

.toxins-area.only-desktop > span {
  margin-left: 1vw;
}

.plant-info {
  margin-top: 1vw;
  width: 21vw;
}

.back-to-survey-btn {
  height: 5vw;
  border: 2px solid #0058a3;
  width: 28vw;
  background-color: transparent;
  color: #0058a3;
  font-size: 1.4vw;
  margin-top: 2.5vw;
}

.back-to-survey-btn:hover {
  cursor: pointer;
}

.back-to-survey-btn:disabled {
  border: 2px solid #0058a370;
  color: #0058a370;
}

.plant-img {
  width: 20vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20vw;
}

.next-btn {
  position: absolute;
  top: 50%;
  width: 4vw;
  transform: translateY(-50%);
  left: 56vw;
}

.next-btn:hover,
.pre-btn:hover {
  cursor: pointer;
}

.pre-btn {
  position: absolute;
  top: 50%;
  width: 4vw;
  transform: translateY(-50%) rotate(180deg);
  left: 0;
}


.plant-img.only-desktop{
  width: 50vw;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 7vw;
}

.plants-navigation{
  position: absolute;
  bottom: 2vw;
  display: flex;
  left: 30vw;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
}

.plant-dot{
  height: 0.5vw;
  width: 0.5vw;
  content: "";
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0.2vw;
}

.plant-dot.active{
  height: 1vw;
  width: 1vw;
}


.on-list-btn,
.add-to-list-btn{
  position: absolute;
  bottom: 6vw;
  left: 21vw;
  width: 19vw;
  height: 5vw;
  border: 0;
  outline: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
}

.add-to-list-btn{
  background-color: #0058a3;
}

.on-list-btn{
  background-color: #16a300;
}

.on-list-btn:hover,
.add-to-list-btn:hover{
  cursor: pointer;
}

.add-icon{
  width: 2vw;
  margin-left: 0.5vw;
}