.only-desktop{
  display: block;
}

.mobile .only-desktop{
  display: none;
}

.only-mobile{
  display: none;
}

.mobile .only-mobile{
  display: block;
}


.layout {
  width: 100%;
  height: 100%;
}


.mobile .ikea-logo {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 20vw;
  z-index: 999;
}

