.mobile header{
    position: fixed;
    top: 0;
    left: 0;
    height: 20vw;
    width: 100%;
    z-index: 2;
}

.mobile main{
     width: 100%;
     margin-top: 20vw;
     position: relative;
     z-index: 1;
}