.mobile .about{
    position: relative;
    width: 100%;
    height: 100%;
}

.mobile .about-top-area{
    position: absolute;
    top: 0;
    background-color: #ffdb00;
    width: 100%;
    height: 60%;
    z-index: 0;
}

.mobile .about-bottom-area{
    position: absolute;
    bottom: 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    direction: rtl;
    width: 90%;
    right: 50%;
    transform: translateX(50%);
    text-align: right;
}

.mobile .about-title{
    position: absolute;
    font-size: 6vw;
    font-weight: 700;
    top: 5vw;
}

.mobile .about-content{
    position: absolute;
    font-size: 4.3vw;
    top: 15vw;
    padding-bottom: 10vw;
}

.mobile .back-to-home-btn-about{
    position: absolute;
    top: 6vw;
    z-index: 1;
    left: 0vw;
}

.mobile .back-to-home-icon-about{
    width: 6vw;
}

.about{
    width: 100%;
    height: 100%;
}

.about-top-area{
    position: absolute;
    top: 0;
    background-color: #ffdb00;
    height: 100%;
    width: 60vw;
}

.about-bottom-area{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100%;
    width: 28vw;
    padding: 0 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 1.2vw;
    align-items: flex-end;
}

.about-title{
    font-weight: bold;
    font-size: 1.4vw;
    margin-bottom: 1vw;
}

.back-to-home-btn-about{
    position: absolute;
    top: 5vw;
    transform: rotate(180deg);
}