.about{
    position: relative;
    width: 100%;
    height: 100%;
}

.about-top-area{
    position: absolute;
    top: 0;
    background-color: #ffdb00;
    width: 100%;
    height: 60%;
    z-index: 0;
}

.about-bottom-area{
    position: absolute;
    bottom: 0;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    direction: rtl;
    width: 90%;
    right: 50%;
    transform: translateX(50%);
    text-align: right;
}

.about-title{
    position: absolute;
    font-size: 6vw;
    font-weight: 700;
    top: 5vw;
}

.about-content{
    position: absolute;
    font-size: 4.3vw;
    top: 15vw;
    padding-bottom: 10vw;
}