/* Mobile design */

.mobile .home {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: contents;
  top: unset;
  left: unset;
}

.mobile .main-home {
  background-color: #ffdb00;
  height: 60%;
  width: 100%;
  position: absolute;
  top: 0;
}

.mobile .plants-bg {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 100%;
  right: 0;
}

.mobile .title-on-top {
  position: relative;
  display: flex;
  direction: rtl;
  margin-bottom: 2vw;
  right: unset;
  width: unset;
}

.mobile .bold-title {
  font-weight: bold;
  margin-right: 1vw;
  width: unset;
  right: unset;
  direction: unset;
}

.mobile .cart-icon {
  position: absolute;
  top: 3.5vw;
  right: 27vw;
  z-index: 10;
}

.mobile .about-link {
  color: #0058a3;
  text-decoration: none;
  right: 5vw;
  position: absolute;
  font-size: 4vw;
  top: 3vw;
  z-index: 99;
}

.mobile .top-txt {
  position: relative;
  width: unset;
  margin-top: unset;
  direction: unset;
  right: unset;
  
}

.mobile .main-logo {
  position: absolute;
  top: 30vw;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.mobile .second-logo {
  position: absolute;
  top: 80vw;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.mobile .bottom-home {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 85vw;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.6vh;
  transform: translateX(50%);
  text-align: unset;
}

.mobile .bottom-txt {
  position: relative;
  font-weight: bold;
  margin-top: 3vw;
}

.mobile .survey-link {
  background-color: #0058a3;
  width: 100%;
  color: white;
  font-size: 6vw;
  height: 15vw;
  display: flex;
  text-decoration: none;
  border: 0;
  direction: unset;
  right: unset;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
  position: relative;
  outline: none;
}

.mobile .about-pollutions {
  color: #0058a3;
  text-decoration: none;
  font-size: 4vw;
  margin-top: 3vw;
  top: unset;
  right: unset;
  direction: unset;
  width: unset;
  position: relative;
}

.mobile .home-main-titles {
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

.mobile .glad-vaxt {
  font-size: 25vw;
  font-family: "Nato Sans Bold";
  line-height: 25vw;
  z-index: unset;
  color: unset;
  position: unset;
  left: unset;
  font-weight: unset;
  width: unset;
  top: unset;
}

.mobile .happy-plants {
  font-size: 10vw;
  font-family: "Nato Sans Regular";
  position: unset;
  top: unset;
  color: unset;
  z-index: unset;
  left: unset;
  font-weight: unset;
}

/* Desktop design */
.home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.main-home {
  background-color: #ffdb00;
  height: 100%;
  width: 60vw;
}

.bottom-home {
  width: 40vw;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-size: 1.2vw;
  justify-content: center;
}

.flowers-bg {
  position: absolute;
  left: 0;
  top: 1vw;
  width: 60vw;
  outline: none;
  z-index: 1;
}

.glad-vaxt {
  z-index: 2;
  color: white;
  font-size: 11.5vw;
  position: absolute;
  left: 11vw;
  font-weight: bold;
  width: 38vw;
  line-height: 12vw;
  top: 11vw;
  font-family: "Nato Sans Bold";
}

.happy-plants {
  position: absolute;
  top: 34vw;
  color: white;
  z-index: 2;
  font-size: 4.7vw;
  left: 15vw;
  font-weight: bold;
}

.about-link {
  position: absolute;
  right: 7.5vw;
  top: 1.5vw;
  text-decoration: none;
  color: #0058a3;
  font-size: 1.3vw;
}

.title-on-top,
.top-txt,
.about-pollutions,
.survey-link,
.bottom-txt {
  position: relative;
  direction: rtl;
  right: 7.5vw;
  width: 24vw;
}


.bold-title{
  font-weight: bold;
}

.survey-link{
  border: 0;
  outline: 0;
  background-color: #0058a3;
  height: 4vw;
  color: white;
  font-size: 1.2vw;
  margin-top: 1.5vw;
}

.survey-link:hover{
  cursor: pointer;
}

.top-txt{
  width: 21vw;
  margin-top: 1.5vw;
}

.bottom-txt{
  width: 16vw;
  margin-top: 1.5vw;
}

.about-pollutions{
  color: #0058a3;
  text-decoration: none;
  top: 12vw;
}
