.top-question-area {
  position: absolute;
  top: 0;
  background-color: #ffdb00;
  width: 100%;
  height: 60%;
  z-index: 0;
}

.navigation {
  position: absolute;
  top: 4vw;
  right: 4vw;
  z-index: 1;
  display: flex;
}

.dot {
  content: "";
  width: 2.5vw;
  height: 2.5vw;
  background-color: transparent;
  border: 1px solid black;
  margin: 1vw;
  border-radius: 50%;
}

.dot.active {
  animation: fillCircle 1.25s both;
}

.wishlist-btn {
  position: absolute;
  top: 90%;
  right: 7vw;
}

.back-to-home-btn {
  position: absolute;
  top: 90%;
  left: 7vw;
}
.wishlist-icon {
  width: 7vw;
}

.back-to-home-icon {
  width: 7vw;
}

.bottom-question-area {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-title {
  position: absolute;
  top: 5vw;
  font-size: 7vw;
}

.buttons-area {
  position: relative;
  display: flex;
  width: 90%;
  top: 0vw;
}


.no-btn {
    background-color: #9a9b9f;
    border: 0;
    height: 15vw;
    color: white;
    font-size: 5vw;
    width: 50%;
}

.why-does-it-matter{
  position: relative;
  top: 15vw;
  color: #0058A3;
  direction: rtl;
  text-decoration: none;
}

.yes-btn{
    background-color: #0058A3;
    border: 0;
    height: 15vw;
    color: white;
    font-size: 5vw;
    width: 50%;
}

.yes-btn.slide-right {
  animation: SlideRightForYesBtn 1s both;
}

.no-btn.slide-right {
  animation: SlideRightForNoBtn 0.5s both;
}

.yes-btn.slide-left {
  animation: SlideLeftForYesBtn 1s both;
}

.no-btn.slide-left {
  animation: SlideLeftForNoBtn 0.5s both;
}

.after-yes {
  opacity: 0;
  animation: 1s fadeIn both;
  animation-delay: 1s;
}

.yes-btn.back-from-right {
  animation: BackFromRightForYesBtn 1s both;
}
.no-btn.back-from-right {
  animation: BackFromRightForNoBtn 1s both;
}

.no-btn.back-from-left {
  animation: BackFromLeftForNoBtn 1s both;
}

.yes-btn.back-from-left {
  animation: BackFromLeftForYesBtn 1s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes BackFromRightForYesBtn {
  0% {
    transform: scale(0.8);
    right: -40vw;
  }
  100% {
    right: 11vw;
    font-size: 34vw;
    transform: scale(1);
  }
}

@-webkit-keyframes BackFromRightForYesBtn {
  0% {
    transform: scale(0.8);
    right: -40vw;
  }
  100% {
    right: 0;
    font-size: 34vw;
    transform: scale(1);
  }
}

@keyframes BackFromRightForNoBtn {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@-webkit-keyframes BackFromRightForNoBtn {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}
@keyframes BackFromLeftForYesBtn {
  0% {
    right: 20vw;
  }
  100% {
    right: 11vw;
  }
}

@-webkit-keyframes BackFromLeftForYesBtn {
  0% {
    right: 20vw;
  }
  100% {
    right: 11vw;
  }
}

@keyframes BackFromLeftForNoBtn {
  0% {
    transform: scale(0.8);
    right: 60vw;
  }
  100% {
    right: 13vw;
    transform: scale(1);
  }
}

@-webkit-keyframes BackFromLeftForNoBtn {
  0% {
    transform: scale(0.8);
    right: 60vw;
  }
  100% {
    right: 13vw;
    transform: scale(1);
  }
}

@keyframes SlideRight {
  0% {
    right: 20vw;
  }
  100% {
    right: 11vw;
    font-size: 34vw;
  }
}

@-webkit-keyframes SlideRight {
  0% {
    right: 0;
  }
  100% {
    right: 11vw;
    font-size: 34vw;
  }
}
@keyframes SlideLeft {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@-webkit-keyframes SlideLeft {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes SlideRightForYesBtn {
  100% {
    right: 20vw;
    font-size: 31vw;
  }
}

@-webkit-keyframes SlideRightForYesBtn {
  100% {
    right: 20vw;
    font-size: 31vw;
  }
}

@keyframes SlideRightForNoBtn {
  100% {
    transform: scale(0.8);
    right: 60vw;
  }
}

@-webkit-keyframes SlideRightForNoBtn {
  100% {
    transform: scale(0.8);
    right: 60vw;
  }
}

@keyframes SlideLeftForNoBtn {
  100% {
    right: 0;
  }
}

@-webkit-keyframes SlideLeftForNoBtn {
  100% {
    right: 0;
  }
}

@keyframes SlideLeftForYesBtn {
  100% {
    transform: scale(0.8);
    right: -40vw;
  }
}

@-webkit-keyframes SlideLeftForYesBtn {
  100% {
    transform: scale(0.8);
    right: -40vw;
  }
}

@keyframes fillCircle {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes fillCircle {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}
