.top-question-area{
    position: absolute;
    top: 0;
    background-color: #ffdb00;
    width: 100%;
    height: 60%;
    z-index: 0;

}

.navigation{
    position: absolute;
    top: 2vw;
    right: 2vw;
    z-index: 1;
}

.bottom-question-area{
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.question-title{
    position: relative;
    top: 5vw;
    font-size: 7vw;
}

.buttons-area{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    max-width: 140%;
    overflow: auto;
    height: 50vw;
}

.buttons-area > div {
    width: 60vw;
    border: 2px solid #0058a3;
    font-size: 34vw;
    height: 34vw;
    display: flex;
    padding: 0vw;
    position: relative;
    color: #0058a3;
    background-color: transparent;
    top: 10vw;
    justify-content: center;
    align-items: center;
}

.yes-btn{
    right: 11vw;
}

.no-btn{
    right: 13vw;
}

.yes-btn.slide-right{
    animation: SlideRightForYesBtn 1s both;
}

.no-btn.slide-right{
    animation: SlideRightForNoBtn 1.4s both;
}

.yes-btn.slide-left{
    animation: SlideLeftForYesBtn 1s both;
}

.no-btn.slide-left{
    animation: SlideLeftForNoBtn 1.4s both;
}

@keyframes SlideRightForYesBtn {
    100%{
        transform: translateX(-110px);
        font-size: 31vw;
    }
}

@-webkit-keyframes SlideRightForYesBtn {
    100%{
        transform: translateX(-110px);
        font-size: 31vw;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.after-yes{
    opacity: 0;
    animation: 1s fadeIn both;
    animation-delay: 1s;
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
    }
}

@keyframes SlideRightForNoBtn {
    100%{
        transform: translateX(-180px) scale(0.8);
    }
}

@-webkit-keyframes SlideRightForNoBtn {
    100%{
        transform: translateX(-180px) scale(0.8);
    }
}

@keyframes SlideLeftForNoBtn {
    100%{
        transform: translateX(110px);
    }
}

@-webkit-keyframes SlideLeftForNoBtn {
    100%{
        transform: translateX(110px);
    }
}

@keyframes SlideLeftForYesBtn {
    100%{
        transform: translateX(180px) scale(0.8);
    }
}

@-webkit-keyframes SlideLeftForYesBtn {
    100%{
        transform: translateX(180px) scale(0.8);
    }
}