/* Mobile Design */

.mobile .top-question-area {
  position: absolute;
  top: 0;
  background-color: #ffdb00;
  width: 100%;
  height: 114.6vw;
  z-index: 0;
}

.mobile .navigation {
  position: absolute;
  top: 4vw;
  right: 4vw;
  z-index: 1;
  left: unset;
  transform: unset;
  display: flex;
}

.mobile .dot {
  content: "";
  width: 2.5vw;
  height: 2.5vw;
  background-color: transparent;
  border: 1px solid black;
  margin: 1vw;
  border-radius: 50%;
}

.mobile .dot.active {
  animation: fillCircle 1.25s both;
}

.mobile .wishlist-btn {
  position: absolute;
  top: 90%;
  right: 7vw;
}

.mobile .back-to-home-btn {
  position: absolute;
  top: 90%;
  right: unset;
  width: unset;
  transform: unset;
  left: 7vw;
}

.mobile .wishlist-icon {
  width: 7vw;
  position: absolute;
  top: 89%;
  right: 7vw;
}

.mobile .back-to-home-icon {
  width: 7vw;
}

.mobile .bottom-question-area {
  position: absolute;
  top: 114vw;
  height: 68vw;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: unset;
  font-size: unset;
  direction: unset;
  padding: unset;
}

.mobile .question-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: unset;
  right: 0;
  top: 0;
}

.mobile .question-title {
  position: relative;
  top: -5vw;
  font-size: 3vh;
  direction: rtl;
  width: 90vw;
  height: unset;
  background-color: unset;
  display: unset;
  flex-direction: unset;
  justify-content: unset;
  align-items: unset;
  text-align: unset;
  padding: unset;
}

.mobile .buttons-area {
  position: relative;
  display: flex;
  width: 90%;
  top: -2vw;
  flex-direction: unset;
  margin-top: unset;
  height: unset;
  background-color: unset;
  justify-content: unset;
  align-items: unset;
  text-align: unset;
  font-size: unset;
  direction: unset;
  padding: unset;
}

.mobile .no-btn {
  background-color: #9a9b9f;
  border: 0;
  height: 15vw;
  color: white;
  font-size: 5vw;
  width: 50%;
}

.mobile .why-does-it-matter {
  position: relative;
  top: 3vw;
  color: #0058a3;
  direction: rtl;
  text-decoration: none;
}

.mobile .yes-btn {
  background-color: #0058a3;
  border: 0;
  height: 15vw;
  color: white;
  font-size: 5vw;
  width: 50%;
}

.mobile .yes-btn.slide-right {
  animation: SlideRightForYesBtn 1s both;
}

.mobile .no-btn.slide-right {
  animation: SlideRightForNoBtn 0.5s both;
}

.mobile .yes-btn.slide-left {
  animation: SlideLeftForYesBtn 1s both;
}

.mobile .no-btn.slide-left {
  animation: SlideLeftForNoBtn 0.5s both;
}

.mobile .after-yes {
  opacity: 0;
  animation: 1s fadeIn both;
  animation-delay: 1s;
}

.mobile .yes-btn.back-from-right {
  animation: BackFromRightForYesBtn 1s both;
}
.mobile .no-btn.back-from-right {
  animation: BackFromRightForNoBtn 1s both;
}

.mobile .no-btn.back-from-left {
  animation: BackFromLeftForNoBtn 1s both;
}

.mobile .yes-btn.back-from-left {
  animation: BackFromLeftForYesBtn 1s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes BackFromRightForYesBtn {
  0% {
    transform: scale(0.8);
    right: -40vw;
  }
  100% {
    right: 11vw;
    font-size: 34vw;
    transform: scale(1);
  }
}

@-webkit-keyframes BackFromRightForYesBtn {
  0% {
    transform: scale(0.8);
    right: -40vw;
  }
  100% {
    right: 0;
    font-size: 34vw;
    transform: scale(1);
  }
}

@keyframes BackFromRightForNoBtn {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@-webkit-keyframes BackFromRightForNoBtn {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@keyframes BackFromLeftForYesBtn {
  0% {
    right: 20vw;
  }
  100% {
    right: 11vw;
  }
}

@-webkit-keyframes BackFromLeftForYesBtn {
  0% {
    right: 20vw;
  }
  100% {
    right: 11vw;
  }
}

@keyframes BackFromLeftForNoBtn {
  0% {
    transform: scale(0.8);
    right: 60vw;
  }
  100% {
    right: 13vw;
    transform: scale(1);
  }
}

@-webkit-keyframes BackFromLeftForNoBtn {
  0% {
    transform: scale(0.8);
    right: 60vw;
  }
  100% {
    right: 13vw;
    transform: scale(1);
  }
}
@keyframes SlideRight {
  0% {
    right: 20vw;
  }
  100% {
    right: 11vw;
    font-size: 34vw;
  }
}

@-webkit-keyframes SlideRight {
  0% {
    right: 0;
  }
  100% {
    right: 11vw;
    font-size: 34vw;
  }
}
@keyframes SlideLeft {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@-webkit-keyframes SlideLeft {
  0% {
    right: 0;
  }
  100% {
    right: 13vw;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes SlideRightForYesBtn {
  100% {
    right: 20vw;
    font-size: 31vw;
  }
}

@-webkit-keyframes SlideRightForYesBtn {
  100% {
    right: 20vw;
    font-size: 31vw;
  }
}

@keyframes SlideRightForNoBtn {
  100% {
    transform: scale(0.8);
    right: 60vw;
  }
}

@-webkit-keyframes SlideRightForNoBtn {
  100% {
    transform: scale(0.8);
    right: 60vw;
  }
}

@keyframes SlideLeftForNoBtn {
  100% {
    right: 0;
  }
}

@-webkit-keyframes SlideLeftForNoBtn {
  100% {
    right: 0;
  }
}

@keyframes SlideLeftForYesBtn {
  100% {
    transform: scale(0.8);
    right: -40vw;
  }
}

@-webkit-keyframes SlideLeftForYesBtn {
  100% {
    transform: scale(0.8);
    right: -40vw;
  }
}

@keyframes fillCircle {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes fillCircle {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: black;
  }
}

/* Desktop Design */

.question {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
}

.top-question-area {
  background-color: #ffdb00;
  width: 60vw;
  height: 100%;
}

.bottom-question-area {
  width: 28vw;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
  text-align: right;
  font-size: 1.2vw;
  direction: rtl;
  padding: 0 6vw;
}

.question-video {
  object-fit: cover;
  position: relative;
  outline: none;
  width: 100%;
}

.navigation {
  position: absolute;
  left: 7vw;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}

.dot {
  content: "";
  width: 0.5vw;
  height: 0.5vw;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0.5vw;
}

.dot.active {
  background-color: black;
  animation: 0.5s fillCircle;
}

.buttons-area {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2vw;
  position: relative;
}

.buttons-area > button {
  height: 6.5vw;
  width: 13.5vw;
  color: white;
  font-size: 1.2vw;
  border: 0;
  outline: 0;
}

.buttons-area > button:hover {
  cursor: pointer;
}

.yes-btn {
  background-color: #0058a3;
}

.no-btn {
  background-color: #9a9b9f;
}

.why-does-it-matter {
  color: #0058a3;
  position: relative;
  top: 15vw;
}

.why-does-it-matter:hover {
  cursor: pointer;
}

.back-to-home-btn {
  position: absolute;
  right: 5vw;
  top: 2vw;
  width: 1.5vw;
  transform: rotate(180deg);
}

.back-to-home-icon {
  width: 1.1vw;
}
