/* Mobile Design */

.mobile .explanation {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  top: unset;
  left: unset;
}

.mobile .explanation-top-area {
  position: absolute;
  top: 0;
  background-color: #ffdb00;
  width: 100%;
  height: 107vw;
  z-index: 0;
}

.mobile .explanation-bottom-area {
  position: absolute;
  top: 109vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  direction: rtl;
  width: 90%;
  right: 50%;
  transform: translateX(50%);
  text-align: right;
  font-size: unset;
  padding: unset;
}

.mobile .explanation-title {
  position: absolute;
  font-size: 5vw;
  font-weight: 700;
  top: 5vw;
  width: unset;
}

.mobile .explanation-content {
  position: absolute;
  font-size: 5vw;
  top: 14vw;
  padding-bottom: 10vw;
  margin-right: unset;
}

.mobile .back-to-question-icon {
  position: absolute;
  bottom: 7vw;
  left: 6vw;
  width: 7vw;
  transform: unset;
  top: unset;
  right: unset;
}

.mobile .wood-exp {
  position: absolute;
  top: 27vw;
  right: 50%;
  width: 8.5vw;
  transform: translateX(50%);
  left: unset;
  height: unset;
}

.mobile .exp-leaf {
  width: 15vw;
  position: absolute;
}

.mobile .exp-bz {
  top: 34.4vw;
  right: 31.2vw;
  left: unset;
}

.mobile .exp-tr {
  top: 52.4vw;
  right: 31.2vw;
  left: unset;
}

.mobile .exp-fh {
  top: 43.4vw;
  left: 31.5vw;
}

.mobile .exp-xy {
  top: 25.4vw;
  left: 31.5vw;
}

.mobile .exp-am {
  top: 10.4vw;
  right: 42.2vw;
  left: unset;
}

.mobile .bucket-exp {
  position: absolute;
  width: 25vw;
  top: 73vw;
  right: 50%;
  transform: translateX(50%);
  left: unset;
}

/* Desktop Design */

.explanation {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.explanation-top-area {
  background-color: #ffdb00;
  width: 60vw;
  height: 100%;
}

.explanation-bottom-area {
  background-color: white;
  width: 28vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  direction: rtl;
  flex-direction: column;
  font-size: 1.2vw;
  padding: 0 6vw;
  text-align: right;
}

.bucket-exp {
  position: absolute;
  top: 31vw;
  width: 8vw;
  left: 20vw;
}

.wood-exp {
  position: absolute;
  width: 2.9vw;
  top: 15.2vw;
  left: 22.7vw;
  height: 16vw;
}

.exp-leaf {
  width: 4.8vw;
  position: absolute;
}

.exp-am {
  top: 10vw;
  left: 21.7vw;
}

.exp-xy {
  top: 15vw;
  left: 18.1vw;
}

.exp-fh {
  top: 21vw;
  left: 18.1vw;
}

.exp-tr {
  top: 24.1vw;
  left: 25.4vw;
}

.exp-bz {
  top: 18vw;
  left: 25.4vw;
}

.back-to-question-icon {
  position: absolute;
  right: 3vw;
  top: 2vw;
  width: 1.5vw;
  transform: rotate(180deg);
}

.back-to-question-icon:hover{
  cursor: pointer;
}


.explanation-content{
  margin-top: 2vw;
}

.explanation-title{
  font-weight: bold;
  width: 22vw;
}