.mobile .explanation {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile .explanation-top-area {
  position: absolute;
  top: 0;
  background-color: #ffdb00;
  width: 100%;
  height: 107vw;
  z-index: 0;
}

.mobile .explanation-bottom-area {
  position: absolute;
  top: 109vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  direction: rtl;
  width: 90%;
  right: 50%;
  transform: translateX(50%);
  text-align: right;
}

.mobile .explanation-title {
  position: absolute;
  font-size: 5vw;
  font-weight: 700;
  top: 5vw;
}

.mobile .explanation-content {
  position: absolute;
  font-size: 5vw;
  top: 14vw;
  padding-bottom: 10vw;
}

.mobile .back-to-question-icon {
  position: absolute;
  bottom: 7vw;
  left: 6vw;
  width: 7vw;
}

.mobile .wood-exp {
  position: absolute;
  top: 27vw;
  right: 50%;
  width: 8.5vw;
  transform: translateX(50%);
}

.mobile .exp-leaf {
  width: 15vw;
  position: absolute;
}

.mobile .exp-bz {
  top: 34.4vw;
  right: 31.2vw;
}

.mobile .exp-tr {
  top: 52.4vw;
  right: 31.2vw;
}

.mobile .exp-fh {
  top: 43.4vw;
  left: 31.5vw;
}

.mobile .exp-xy {
  top: 25.4vw;
  left: 31.5vw;
}

.mobile .exp-am {
  top: 10.4vw;
  right: 42.2vw;
}

.mobile .bucket-exp {
  position: absolute;
  width: 25vw;
  top: 73vw;
  right: 50%;
  transform: translateX(50%);
} 
